* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    /* color : #474747 */
    /*color : #181818*/
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #FFF8F3;
    align-items: center;
    padding-top: 10px;
}

.logo {
    color: #181818;
    padding-left: 35px;
    font-size: 30px;
    font-weight: 800;


}

.extra-text-color {
    color: #FD6E0A;
    font-weight: 800;
}

nav,
ul {
    display: flex;
    align-items: center;
    margin-right: 42px;


}

ul,
a {
    color: #474747;
    text-decoration: none;
    margin-right: 30px;

}

ul,
li {
    list-style: none;
}

.btn {
    height: 40px;
    width: 114px;
    background-color: #FD6E0A;
    border: 0;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
}

main {
    background-color: #FFF8F3;
    display: flex;
    background-image: url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.main-content {
    padding-top: 249px;
    padding-left: 205px;
}
.main-title{
    color: #474747;
    font-size: 25px;
    margin-bottom: 10px;
}
.mary-hardy{
    color: #181818;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.main-description{
    color: #474747;
  font-size: 14px;
  max-width: 616px;
  margin-bottom: 20px;
}
.hardy{
    height: 676px;
    width: 584px;
}